html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  font-family: "Poppins", sans-serif;
  overflow-y: auto;
  height: 100%;
}
main {
  padding-bottom: 50px;
}
ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.text-center {
  text-align: center;
}

/* login */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 17px 30px 17px;
}

.sub-title {
  color: #21325d;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5;
}

.account h2 {
  font-weight: 300;
  font-size: 30px;
  color: #21325d;
  margin-bottom: 15px;
}

.account form {
  padding: 64px 15px;
  max-width: 440px;
  width: 100%;
  margin: 0 auto;
}

.form-group label {
  text-align: left;
  display: block;
  margin-bottom: 5px;
}
.form-control {
  background: #fcfcfc;
}
.account .form-control {
  border: 2px solid #ebecee;
  background-color: #fcfcfc;
}
.account .form-control input::placeholder {
  font-size: 16px;
  color: #b0b4c5;
}

.form-group small {
  font-size: 10px;
  text-align: left;
}

.form-check {
  text-align: left;
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
  align-items: baseline;
}

.form-check input {
  position: relative;
  top: 0;
  margin-top: 0;
}

.form-check {
  text-align: left;
  display: flex;
  gap: 10px;
  margin-bottom: 0px;
}

.form-check span {
  color: #109cf1;
}

.form-group {
  margin-bottom: 20px;
}
.verification .prim-btn {
  padding: 15px 24px;
  width: 80%;
}
.prim-btn {
  padding: 10px 24px;
  font-size: 16px;
  font-weight: 400;
  border: 0;
  background: #109cf1;
  color: #fff;
  border-radius: 5px;
  width: 100%;
}
.prim-btn:hover {
  opacity: 0.8;
  cursor: pointer;
}
.slider {
  background: #14213d;
  position: relative;
}

.hvh-100 {
  height: 100vh;
}

.h-100 {
  height: 100%;
}

.slider h2 {
  font-size: 20px;
  color: #fff;
  text-align: left;
  margin: 20px 0;
  font-weight: 800;
}

.slider .sub-title {
  text-align: left;
  line-height: 1.5;
  color: #c2cfe0;
}

.slider1 {
  padding: 0 22px;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.vec1 img {
  width: 100%;
}
.vec {
  position: absolute;
  top: 0;
  right: 0;
}
.form-control:focus {
  border: 2px solid #a6c7f2 !important;
  outline: 0;
  box-shadow: none !important;
}

.active-bar {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.slider .active-bar {
  position: absolute;
  bottom: 70px;
  left: 50%;
  transform: translateX(-50%);
}

.linebar {
  width: 60px;
  height: 6px;
  background-color: #fff;
  border-radius: 40px;
}

.slider .act-line {
  background: #109cf1;
}

.non-page .act-line {
  background: #109cf1;
}

.non-page .grey {
  background-color: #eff0f6;
}

.eye-offs {
  position: relative;
}

.eye-offs .eyeoff {
  position: absolute;
  right: 10px;
  top: 50%;
  width: 20px;
  height: 20px;
  transform: translateY(-50%);
}

.verification {
  background: #f8fcff;
  max-width: 648px;
  margin: 0 auto;
  padding: 64px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  text-align: center;
  width: 100%;
}

.verification h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: normal;
}

.verify-page header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 10px;
  position: fixed;
  top: 10px;
  left: 10px;
}

.verify-page {
  height: 100vh;
  display: flex;
  align-items: center;
}

.tosify-btn {
  position: absolute;
  right: 40px;
  border: 0;
  top: 40px;
  background: #109cf1;
  padding: 12px;
  border-radius: 8px;
  color: #fff;
}

.p-30 {
  padding: 33px 0;
}

.category {
  max-width: 568px;
  width: 100%;
  margin: 0 auto;
}

.cat-img {
  min-width: 50px;
  min-height: 50px;
  background: #e2edff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cat-box {
  display: flex;
  align-items: center;
  gap: 10px;
  border: 2px solid #ebecee;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 16px;
  justify-content: space-between;
}
.cat-box-item {
  display: flex;
  gap: 8px;
  align-items: center;
}
.category h2 {
  font-size: 24px;
  text-align: left;
  font-weight: bold;
  margin-bottom: 5px;
}

.category p {
  text-align: left;
  font-size: 14px;
  font-weight: 300;
  color: #9ea5ba;
}

.invite-page .form-group {
  margin-bottom: 5px;
}

.invite-page .form-group input {
  padding: 12px;
}

.invite-page .form-group {
  margin-bottom: 20px;
  position: relative;
}

.invite-page .form-group .deltebtn {
  position: absolute;
  right: -28px;
  top: 50%;
  transform: translateY(-50%);
}

.btn-list a {
  display: flex;
  align-items: center;
  margin: 15px 0;
  justify-content: center;
}
.btn-list.underline a {
  text-decoration: underline;
}
.logs {
  max-width: 548px;
  width: 100%;
  background: #f8f8f8;
  padding: 64px;
  border-radius: 24px;
}

.logs h1 {
  font-size: 30px;
  color: #000;
  font-weight: 900;
  text-align: center;
  margin-bottom: 30px;
}

.forgot-btn {
  text-align: center;
}
.forgot-btn p {
  color: #b5b5b5;
}
.forgot-btn a {
  font-size: 16px;
  color: #818083;
  font-weight: 900;
  margin-top: 15px;
  margin-bottom: 15px;
  display: inline-block;
  line-height: normal;
}
.miksignin {
  display: block;
}
.sign-acc header {
  position: fixed;
  left: 20px;
  top: 20px;
}

.center-box {
  height: calc(100vh - 215px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider.mob-res {
  background-color: transparent;
}
.slider.mob-res .grey {
  background-color: #eff0f6;
}
.slider.mob-res {
  padding-bottom: 0;
}
